In [1]:
import numpy as np
import pandas as pd

import jieba
#import jieba.analyse
import nltk

import csv
import re

In [2]:
#string to list 用
from ast import literal_eval

In [25]:
data_cut = pd.read_csv('200_500_str.csv')

In [26]:
data_cut.iloc[0]

sentences_500        ['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...
label                                                               10
sentences_200_str    ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
sentences_500_str    ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
sentences_100_str    ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
Name: 0, dtype: object

In [7]:
after_clean =[]
after_clean = data_cut['sentences_200'].tolist()

In [8]:
#讀取string 轉回list
word_list=[]
for i in range(len(after_clean)):
    word_list.append(literal_eval(after_clean[i]))
    if(i%10000==0):
        print(i)

0
10000
20000
30000
40000
50000
60000
70000

In [9]:
first_100=[]
for i in range(len(word_list)):
    try:
        first_100.append(word_list[i][:100])
    except:
        pass

In [11]:
str100=[]
for i in range(len(first_100)):
    str100.append(' '.join(first_100[i]))

In [17]:
len(str100[1])

304

In [22]:
data_cut=data_cut.drop(['sentences_200','sentences_100'],axis=1)

In [23]:
data_cut.head(5)

,sentences_500,label,sentences_200_str,sentences_500_str,sentences_100_str
0,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...",10,ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...,ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...,ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
1,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '九月', '課...",10,ETF 關鍵 報告 台北 開課 公告 九月 課程 此次 公告 九月 預計 台北 舉辦 兩個 ...,ETF 關鍵 報告 台北 開課 公告 九月 課程 此次 公告 九月 預計 台北 舉辦 兩個 ...,ETF 關鍵 報告 台北 開課 公告 九月 課程 此次 公告 九月 預計 台北 舉辦 兩個 ...
2,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '八月', '日...",10,ETF 關鍵 報告 台北 開課 公告 八月 日 課程 綠角將 八月 日 台北 開立 ETF ...,ETF 關鍵 報告 台北 開課 公告 八月 日 課程 綠角將 八月 日 台北 開立 ETF ...,ETF 關鍵 報告 台北 開課 公告 八月 日 課程 綠角將 八月 日 台北 開立 ETF ...
3,"['訪客', '總覺', '這股', '應該', '慘', '公佈', '季營收', '下'...",10,訪客 總覺 這股 應該 慘 公佈 季營收 下 殺 明明 新聞 已經 說 月 營收 持平 市場...,訪客 總覺 這股 應該 慘 公佈 季營收 下 殺 明明 新聞 已經 說 月 營收 持平 市場...,訪客 總覺 這股 應該 慘 公佈 季營收 下 殺 明明 新聞 已經 說 月 營收 持平 市場...
4,"['lt', '圖片', '擷取', 'MONEYCONNEXION', 'gt', '雙親...",10,lt 圖片 擷取 MONEYCONNEXION gt 雙親 「 理財 身教 凡遇 錢 事 馬...,lt 圖片 擷取 MONEYCONNEXION gt 雙親 「 理財 身教 凡遇 錢 事 馬...,lt 圖片 擷取 MONEYCONNEXION gt 雙親 「 理財 身教 凡遇 錢 事 馬...

In [24]:
data_cut.to_csv('200_500_str.csv', index=False)

In [8]:
work= data_cut['sentences_1000_str'].tolist()

In [12]:
type(work)

list

In [31]:
for j in range(len(clean)):
    for i in range(len(clean[j])):
        try:
            clean[0].remove(' ')
        except: 
            pass

In [33]:
data_cut['no_space']=clean

In [34]:
data_cut['first_1000'] = data_cut['no_space'].apply(lambda x:x[0:1000] if len(x)>1000 else x)
data_cut['first_1000_str'] = data_cut['first_1000'].apply(lambda x:" ".join(x))

In [42]:
data_cut=data_cut.drop('after_clean', axis=1)

In [43]:
data_cut.to_csv('all_data_cut.csv',index= False)

In [16]:
#list 轉
str_list =[]
for i in range(len(word_list)):
    str_list.append(' '.join(word_list[i]))

In [6]:
import os
import string
from sklearn import feature_extraction
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvec = TfidfVectorizer(min_df=.0025, max_df=.1, stop_words='english', ngram_range=ngramrange)
tvec_weights = tvec.fit_transform(df.stemmed.dropna())
weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

In [15]:
vectorizer = TfidfVectorizer(norm=None)
tfidf = vectorizer.fit_transform(data_cut['sentences_1000_str'].values.astype('U'))

In [16]:
weights = np.asarray(tfidf.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': vectorizer.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

       term    weight
365082   情報  4.096438
478761   產品  3.307118
277786   台灣  2.382214
243879   公司  2.363193
340188   工作  2.040671
203549   中國  1.948018
378093   投資  1.851459
190162   一個  1.839492
226469   使用  1.818621
523036   美國  1.660442
342588   市場  1.636414
553705   蘋果  1.600428
402020   日本  1.563402
387009   提供  1.556683
374953   手機  1.500002
289698   問題  1.387686
558365   表示  1.336719
406127   時間  1.329663
3886     ai  1.318565
232953   健康  1.313868

In [19]:
weights_df.to_csv('TFIDF',index=False)

In [ ]:
tfidf_array = tfidf.toarray()

tfidf_array.savetxt("tfidf_array.csv", a, delimiter=",")

In [60]:
save= tfidf.data

In [62]:
print(save)

[ 25.51829803  22.19773225  18.46149397 ...,   9.68349122  10.51016979
  11.76293276]

In [46]:
import time
import curses

tfidf.toa

  (0, 414008)	25.5182980334
  (0, 128109)	22.1977322512
  (0, 388143)	18.4614939664
  (0, 230196)	9.66878988925
  (0, 243630)	13.0915216099
  (0, 139027)	2.44293113661
  (0, 391317)	4.7545069789
  (0, 334813)	9.28578535166
  (0, 158534)	4.18932268561
  (0, 74684)	5.29062186364
  (0, 178916)	7.16774637465
  (0, 351730)	13.0357045327
  (0, 473685)	8.04627660876
  (0, 152532)	12.9710018065
  (0, 174339)	14.8091626177
  (0, 177416)	26.1552309752
  (0, 266812)	25.6321708138
  (0, 410870)	9.09164264954
  (0, 142024)	6.73905224194
  (0, 382892)	5.06713384573
  (0, 489557)	5.09470451437
  (0, 263418)	3.12671286495
  (0, 42493)	5.38027107937
  (0, 32940)	3.39273259512
  (0, 65768)	3.39667874694
  :	:
  (94472, 69447)	10.258855366
  (94472, 59996)	17.8594388375
  (94472, 185935)	9.278026113
  (94472, 93370)	10.258855366
  (94472, 379822)	9.74802974225
  (94472, 104896)	8.99034404055
  (94472, 85240)	9.81702261374
  (94472, 192094)	9.278026113
  (94472, 32415)	21.3286409482
  (94472, 206324)	10.6643204741
  (94472, 254737)	10.3766384017
  (94472, 440629)	9.74802974225
  (94472, 144613)	10.3766384017
  (94472, 126375)	10.6643204741
  (94472, 68356)	10.5101697943
  (94472, 104859)	10.6643204741
  (94472, 168346)	10.5101697943
  (94472, 931)	10.5101697943
  (94472, 350967)	9.56570818545
  (94472, 206395)	9.56570818545
  (94472, 391509)	9.56570818545
  (94472, 103389)	9.68349122111
  (94472, 56562)	9.68349122111
  (94472, 80303)	10.5101697943
  (94472, 9312)	11.7629327628

In [52]:
tfidf.

method

In [20]:
from sklearn import feature_extraction
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer


vectorizer=CountVectorizer()#该类会将文本中的词语转换为词频矩阵，矩阵元素a[i][j] 表示j词在i类文本下的词频
transformer=TfidfTransformer()#该类会统计每个词语的tf-idf权值
vec=vectorizer.fit_transform(test)

In [54]:
print(vec[0][0])

  (0, 77)	1
  (0, 61)	1
  (0, 146)	1
  (0, 290)	1
  (0, 179)	1
  (0, 272)	1
  (0, 104)	1
  (0, 164)	1
  (0, 294)	1
  (0, 140)	1
  (0, 85)	1
  (0, 239)	1
  (0, 157)	1
  (0, 41)	1
  (0, 143)	1
  (0, 236)	1
  (0, 155)	1
  (0, 188)	1
  (0, 178)	1
  (0, 278)	1
  (0, 162)	1
  (0, 0)	1
  (0, 18)	1
  (0, 31)	1
  (0, 135)	1
  :	:
  (0, 154)	1
  (0, 4)	4
  (0, 69)	1
  (0, 264)	1
  (0, 240)	1
  (0, 299)	3
  (0, 43)	1
  (0, 252)	2
  (0, 125)	2
  (0, 224)	1
  (0, 177)	1
  (0, 221)	2
  (0, 145)	1
  (0, 292)	1
  (0, 128)	1
  (0, 187)	4
  (0, 79)	1
  (0, 78)	2
  (0, 212)	4
  (0, 42)	2
  (0, 215)	19
  (0, 80)	2
  (0, 160)	2
  (0, 255)	8
  (0, 225)	3

In [ ]:
tfidf=transformer.fit_transform(vec)#第一个fit_transform是计算tf-idf，第二个fit_transform是将文本转为词频矩阵
word=vectorizer.get_feature_names()#获取词袋模型中的所有词语
weight=tfidf.toarray()#将tf-idf矩阵抽取出来，元素a[i][j]表示j词在i类文本中的tf-idf权重
for i in range(len(weight)):#打印每类文本的tf-idf词语权重，第一个for遍历所有文本，第二个for便利某一类文本下的词语权重
    print ("-------这里输出第",i,"类文本的词语tf-idf权重------")
    for j in range(len(word)):
        print (word[j],weight[i][j])